---
import Logo from '../assets/logo.svg';
---

<header>
  <nav class="flex">
    <img src={Logo.src} class="w-20" alt="My Logo" />
    <ul class="flex gap-6">
      <li><a href="/">Inicio</a></li>
      <li><a href="/about">Contactame</a></li>
      <li><a href="/blog">Blog</a></li>
    </ul>
  </nav>
</header>

<main>
  <section class="flex items-center">
    <div>
      <h1 class="text-6xl flex flex-col">
        <span>Gerson </span><span>Jean Pierre</span>
      </h1>
      <p class="text-2xl">
        Soy un desarrollador web y móvil. Me encanta aprender cosas nuevas y
        compartir conocimientos.
      </p>
    </div>
    <div class="border-pink-400 border-4 rounded-full shadow-border">
      <img
        src="https://placehold.co/400"
        alt="Developer"
        class="rounded-full ml-6 mt-6"
      />
    </div>
  </section>
  <section>
    <h2 class="text-4xl">Proyectos</h2>
    <p class="text-2xl">
      Aquí encontrarás una lista de proyectos que he realizado.
    </p>
  </section>
</main>
<footer>
  <p>© 2025 JalukOne - Gerson Jean Pierre. Todos los derechos reservados.</p>
</footer>

<style>
  .shadow-border {
    height: 400px;
    width: 400px;
  }
</style>
